<div class="nav-container">
  <nav class="navigation">
    <a class="route" [ngClass]="{ 'active': this.route === '' }" routerLink="/">Home</a>
    <a class="route" [ngClass]="{ 'active': this.route === 'about' }" routerLink="/about">About</a>
    <a class="route" [ngClass]="{ 'active': this.route === 'resume' }" routerLink="/resume">Resume</a>
  </nav>
  <div class="halo-panel">
    <button class="btn btn-primary halo-button" (click)="toggleLanguage()">
      {{ currentLanguage === 'en' ? 'Español' : 'English' }}
    </button>
  </div>
</div>