* {
    font-family: Avenir, Verdana, sans-serif;
}

.container-xxl {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.profile {
   position: relative;
   color: white;
   text-align: center;
}

@media screen {

    .container-xxl {
        > .row {
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            transition: 0.5s;
            margin: 1rem;
            padding: 1rem;
        }
        
        > .row:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: 0.5s;
        }
    }
}


@media print {
    body{
        margin: 0.2cm 0.75cm;
        background-color: rgb(241, 243, 244);
    }

    .container-xxl
    {
        padding: 0.5cm;
    }

    img, canvas {
        display: none;
    }

    .name {
        font-size: 22pt;
        font-weight: 900;
    }

    .sub-name{
        font-size: 14pt;
        font-style: italic;
    }

    .contact{
        position: absolute;
        right: 1cm;
        top: 1%;
        text-align: right;
    }
    
    .email {
        color: #107896;
        font-size: 10pt;
        text-decoration: none;
    }
}