<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is my portfolio/personal website.">
    <meta name="keywords" content="Personal, Programming, Mauricio Meléndez, Meléndez Mauricio, Meléndez, Mauricio, Mauricio Melendez,">
    <meta name="author" content="Mauricio Meléndez, mauricio_esteban@live.com">
    <meta name="url" content="http://maumlz.github.io">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:image" content="/assets/img/me.jpg">
    <meta property="og:description" content="This is my portfolio/personal website.">

		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/eb7f2fad9b.js" crossorigin="anonymous"></script>

    <script src="/assets/js/main.js" type='module'></script>
    <link rel="icon" type="image/gif" href="/assets/img/me.jpg"/>
  </head>
  <body>
		{% include nav.html %}
    	{{ content }}
		{% include foot.html %}
  </body>
</html>
