<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<script src="/assets/js/main.js"></script>
    <link rel="icon" type="image/gif" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FvH7YtZV4UgYwg%2Fgiphy.gif&f=1&nofb=1"/>
  </head>
  <body>
		{% include nav.html %}
    	{{ content }}
		{% include foot.html %}
  </body>
</html>
