<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/katex.css">
   <script src="/assets/js/katex.js"></script>
  <script src="/assets/js/auto-render.js" ></script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {'delimiters' : [
        {left: "$$", right: "$$", display: true},
        {left: "\\[", right: "\\]", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false}
    ]});

    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
        el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
    });
  });
</script>
</head>

<body>
  {{ content }}
  {% include foot.html %}
</body>
</html>
