<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi Currículo.">
    <meta name="keywords" content="CV, Resume, Currículo, Mauricio Melendez, Mauricio Meléndez, Mauricio, Meléndez">
    <meta name="author" content="Mauricio Meléndez, mauricio_esteban@live.com">
    <meta name="url" content="http://maumlz.github.io">

    <link rel="icon" type="image/gif" href="/assets/img/me.jpg"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="../assets/css/finalPrint.css" rel="stylesheet" media="print">
    <!-- <link href="../assets/css/finalScreen.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" href="/assets/css/resume.css">
    <title>Currículo</title>
</head>

<body>
    {% include nav.html %}
    {{ page.var }}
    {{ page.content }}
</body>

</html>