/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/print.css';

/*
Source - https://stackoverflow.com/a/73078556
Posted by Arslan Akram
Retrieved 2026-06-01, License - CC BY-SA 4.0
*/

html {
  font-size: 10px;
}

:root {
  --main-color: rgb(16, 120, 150);
  --secondary-color: rgb(241, 243, 244);
  --font-size-base: 12px !important;
  --bs-body-font-size: 1rem; /* Overwrite this variable */
  font-size: var(--bs-body-font-size);
}